.content{
    padding: 20px 35px;
    
}
.content form label{
    position: absolute;
    left:9999px;
}
.content input[type=text]{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: transparent;
    padding: 8px;
    
}
.content .search{
    padding: 0px;
}
.content form{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid rgba(50, 50, 50, 0.24);
    border-radius: 8px;
    padding: 5px;
    align-items: center;
    margin-bottom: 8px;
}
.content form button{
    position: absolute;
    right: 8px;
    border: none;
    background-color: var(--mainColor);
    border-radius: 5px;
    padding: 7px 20px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.content form button:hover{
    background-color: #26b296;
}
ul{
    list-style: none;
    width:100%;
    padding: 0px ;
    margin: 20px auto;
    max-height: 65vh;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-color: #ddd #F1F1F1;
}
li{
    
    margin-bottom: 0px;
    padding: 15px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(50, 50, 50, 0.14);
    
}
li input[type='checkbox']{
    border-radius: 22px;
    accent-color: red white;
    color: aquamarine;
    margin-right: 20px;
    margin-left: -10px;
    width: 20px;
    height: 30px;
    accent-color: var(--mainColor);
    cursor: pointer;
}
li label{
    cursor: pointer;
}
.del{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666666;
}
h6{
    margin: 30px auto;
    text-align: center;
    color: #666666;
    margin-bottom: 0px;
}

  
